<!DOCTYPE html>
<html>
    <head>
        <title>Zoom-ActOn API Connector</title>
    </head>
    <body>
        <h1>Zoom-ActOn Webinar Sync</h1>
        <p>See <a href='https://github.com/ncrosno/zoom-acton'>https://github.com/ncrosno/zoom-acton</a> for details.</p>
    </body>
</html>