database:
  adapter: mysql2              
  host: localhost                          
  port: 3306                          
  database: fixme
  username: fixme
  password: fixme              

# Get creds from https://zoom.us/developer/api/credential
zoom_api:
  host: 'https://api.zoom.us'
  api_key: fixme
  api_secret: fixme   

act_on_api:
  host: 'https://restapi.actonsoftware.com'
  client_id: fixme
  client_secret: fixme 
  username: fixme
  password: fixme