database:
  adapter: mysql2              
  host: localhost                          
  port: 3306                          
  database: fixme
  username: fixme
  password: fixme              

api_salt: changeme_to_something_random              

# Get creds from https://zoom.us/developer/api/credential
zoom_api:
  host: 'https://api.zoom.us'
  api_key: 'change-to-your-api-key'
  api_secret: 'change-to-your-api-secret'   